<div class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden">
	<div class="mx-auto max-w-5xl xs:max-w-7xl lg:max-w-8xl lg:px-8">
		<div class="lg:grid lg:grid-cols-2 lg:gap-8">
			<div class="mx-auto max-w-md px-4 xs:max-w-2xl xs:px-6 iphone:text-center lg:px-0 lg:text-left lg:flex
			lg:items-center">
				<div class="lg:py-24">
					<h1 class="mt-4 h3 tracking-tight font-extrabold text-white sm:mt-5 lg:mt-6">
						<span class="block">Choisir vos photos</span>
						<span class="pb-3 block bg-clip-text text-transparent bg-gradient-to-r from-amber-200
						to-orange-400 sm:pb-5">Inspirez-vous</span>
					</h1>
					<p class="text-base text-gray-300 sm:text-xl lg:text-lg xl:text-xl">
					En binôme, faite une pré-sélection de photos d'aménagement et/ou de mobilier, soit intuitivement, soit en définissant des critères.
					</p>
				</div>
			</div>
			<div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
				<div class="mx-auto max-w-md px-4 xs:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
					<!-- Illustration taken from Lucid Illustrations: https://lucid.pixsellz.io/ -->
					<img class="w-full h-full mx-auto iphone:h-1/2 md:h-4/6 lg:h-full lg:absolute lg:inset-0 iphone:w-1/2 lg:w-auto lg:max-w-none"
					     src="{{ asset('images/lucid_Ai/illustration/right/Illustration.png') }}"
					     alt="">
				</div>
			</div>
		</div>
	</div>
</div>
