<div class="flex items-center min-h-screen bg-gray-900 iphone:items-start iphone:pt-36 lg:items-center lg:pt-0 lg:pb-14 lg:overflow-hidden">
	<div class="mx-auto xs:max-w-7xl lg:max-w-8xl lg:px-8">
		<div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:content-center">
			<div class="xs:px-6 iphone:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
				<div class="lg:py-24">
					<h1 class="mt-4 h3 tracking-tight font-extrabold text-white sm:mt-5 lg:mt-6">
						<span class="block">Choisir vos photos</span>
						<span class="pb-3 block bg-clip-text text-transparent bg-gradient-to-r from-amber-200
						to-orange-400 sm:pb-5">Inspirez-vous</span>
					</h1>
					<p class="text-base text-gray-300 sm:text-xl lg:text-lg xl:text-xl">
					En binôme, faite une pré-sélection de photos d'aménagement et/ou de mobilier, soit intuitivement, soit en définissant des critères.
					</p>
				</div>
			</div>
			<div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
				<div class="">
					<!-- Illustration taken from Lucid Illustrations: https://lucid.pixsellz.io/ -->
					<img class="iphone:mx-auto iphone:max-w-sm sm:max-w-lg md:max-w-xl lg:absolute lg:inset-0 lg:max-w-5xl"
					     src="{{ asset('images/lucid_Ai/illustration/right/Illustration.png') }}"
					     alt="">
				</div>
			</div>
		</div>
	</div>
</div>
