@tailwind base;

@layer base {
    [type='text'],
    input:where(:not([type])),
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply py-3 shadow-sm focus:ring-amber-400 border border-gray-300 focus:border-amber-400 block w-full sm:text-sm rounded-md mb-2;
    }

    [type='checkbox'],
    [type='radio'] {
        @apply w-5 h-5 mr-2 rounded border-gray-300 focus:ring-1 focus:ring-amber-500 text-amber-500
    }
}



@tailwind components;

@layer components {
    .h1 {
        @apply text-5xl iphone:text-6xl xs:text-7xl fullHD:text-9xl
    }
    .h2 {
        @apply text-4xl iphone:text-5xl xs:text-6xl fullHD:text-8xl
    }

    .h3 {
        @apply text-3xl iphone:text-4xl xs:text-5xl fullHD:text-7xl
    }

    .h4 {
        @apply text-2xl iphone:text-3xl xs:text-4xl fullHD:text-6xl
    }

    .h5 {
        @apply text-xl iphone:text-2xl xs:text-3xl fullHD:text-5xl
    }

    .h6 {
        @apply text-lg iphone:text-xl xs:text-2xl fullHD:text-4xl
    }

    .fonts-size {
        @apply text-sm iphone:text-lg xs:text-xl fullHD:text-2xl
    }

    .btn-primary {
        @apply
            block
            my-3
            w-full
            mx-auto
            text-center
            bg-primary
            text-white
            rounded-lg
            p-2
            hover:bg-hoverPrimary
            hover:ring-2
            hover:ring-hoverPrimary
            hover:ring-offset-2
    }

    .btn-warning {
        @apply
            my-3
            w-full
            text-center
            bg-warning
            text-white
            rounded-lg
            p-2
            hover:bg-hoverWarning
            hover:ring-2
            hover:ring-hoverWarning
            hover:ring-offset-2
    }
}

@tailwind utilities;
