{% apply inline_css(source("@styles/emails.css")) %}
<h1>Hi! Please confirm your email!</h1>

<p>
    {{ message }} <br><br>
    <a href="{{ signedUrl|raw }}">Comfiner votre email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle', 'fr_FR') }}.
</p>

<p>
    Bravo!
</p>
{% endapply %}
